@using BilliWebApp.Models.Motorcycle
@using BilliWebApp.Models.Cart
@model Motorcycle

<!-------------- single product details ----------->
<div class="small-container single-product">
    <div class="row0">
        <div class="col2">
            <img src="@Model.ImgURL" style = "width: 30vw" id="ProductImg">
        </div>
        <div class="col2">
            <p>Home / Motorcycle</p>
            <h1>@Model.Name</h1>
            <h1>@Model.Brand</h1>
            <h4>@Model.Price</h4>
            <partial name="AddProductToCartPartial" model="@new AddToCartProduct{ ProductID = Model.ID }"/>
            <h3>Product Details</h3>
            <br>
            <p>@Model.Details</p>
        </div> 
    </div>
</div>

<!-------------- title ----------->
<div class="small-container">
    <div class="row0 row2">
        <h2>Related Products</h2>
        <p>View More</p>
    </div>
</div>

<form asp-controller="Motorcycle" asp-action="SetImage" method="post" enctype="multipart/form-data">
    <input type="file" multiple="multiple"/> 
    <input type="text" hidden value="@Model.ID"/>
    <button type="submit"> upload image </button>
</form>

<!-------------- related products ----------->
<div class="small-container">
    <div class="row0">
        <div class="col4">
            <img src="../images/NINJA H2®.jpg">
            <h4>NINJA H2®</h4>
            <p>$30,500</p>
        </div>
        <div class="col4">
            <img src="../images/NINJA H2®R.jpg">
            <h4>NINJA H2®R</h4>
            <p>$56,500</p>
        </div>
        <div class="col4">
            <img src="../images/NINJA® 400.jpg">
            <h4>NINJA® 400</h4>
            <p>$5,799</p>
        </div>
        <div class="col4">
            <img src="../images/NINJA® 650.jpg">
            <h4>NINJA® 650</h4>
            <p>$8,499</p>
        </div>
    </div>
</div>

