@using BilliWebApp.Models.Cart
@model Cart

<!-------------- cart items details ----------->
<div class="small-container">

    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="@product.ImgURL">
                        <div>
                            <p><h5>@product.ProductName</h5></p>
                            <br>
                            <a href=""><h6>Remove</h6></a>
                        </div>
                    </div>
                </td>
                <td><input type="number" min="1" value="@product.ProductQuantity"></td>
                <td>$@product.ProductPrice</td>
            </tr>
        }      
    </table>

    <div class="total-price">

        <table>
            <tr>
                <td>Subtotal</td>
                <td>$@Model.Subtotal</td>

            </tr>
            <tr>
                <td>Tax</td>
                <td>@Model.Tax%</td>

            </tr>
            <tr>
                <td>Total</td>
                <td>$@(Model.Subtotal + @Model.Subtotal * @Model.Tax)</td>

            </tr>
        </table>

    </div>
    <div class="total-price">
        <a href="" class="btn2"><h5>CHECKOUT</h5></a>
    </div>
</div>

